@using ALSRM.WebApp.Resources
@model ALSRM.WebApp.Models.PostRegisterViewModel
@{
    ViewBag.Title = @ALSRM.WebApp.Resources.SuccessfulyRegisterResources.SuccessfulyRegister;
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <table class="table ">
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.UserId
                </label>
            </td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.UserName
                </label>
            </td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.Password
                </label>
            </td>
            <td>@Model.Password</td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.SecurityQuestion
                </label>
            </td>
            <td>@Model.SecurityQuestion</td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.SecurityAnswer
                </label>
            </td>
            <td>@Model.SecurityAnswer</td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.PatientId
                </label>
            </td>
            <td>@Model.PatientId</td>
        </tr>
        <tr>
            <td>
                <label style="font-weight: bold">
                    @AccountResources.MacBitAlino
                </label>
            </td>
            <td>@Model.Mac_Bitalino</td>
        </tr>
    </table>
    @if (!string.IsNullOrEmpty(Model.Mac_Bitalino))
    {
        <div>
            <img src="@ViewBag.QrCode" width="170" height="170" alt="QrCode" class="img-rounded" />
            <p style="font-style: italic;">@SuccessfulyRegisterResources.Qrcodemsg</p>
        </div>
    }
    <p style="color: red; font-style: italic;">@SuccessfulyRegisterResources.ChangeMsg</p>
    <button onclick="window.print();">@SuccessfulyRegisterResources.Print</button>
</div>