@model ALSRM.WebApp.Models.PostRegisterViewModel
@{
    ViewBag.Title = "SuccessfulyRegister";
}

<h2>Successful Registration</h2>

<div class="container-fluid">
    <table class="table ">
        <tr>
            <td>@Html.LabelFor(m => m.Id, new {style = "font-weight:bold"}) </td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Name, new {style = "font-weight:bold"})</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password, new {style = "font-weight:bold"})</td>
            <td>@Model.Password</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.SecurityQuestion, new {style = "font-weight:bold"})</td>
            <td>@Model.SecurityQuestion</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.SecurityAnswer, new {style = "font-weight:bold"})</td>
            <td>@Model.SecurityAnswer</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.PatientId, new {style = "font-weight:bold"})</td>
            <td>@Model.PatientId</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Mac_Bitalino, new {style = "font-weight:bold"})</td>
            <td>@Model.Mac_Bitalino</td>
        </tr>
    </table>
    @if (!string.IsNullOrEmpty(Model.Mac_Bitalino))
    {
        <div>
            <img src="@ViewBag.QrCode" width="170" height="170" alt="QrCode" class="img-rounded"/>
            <p style="font-style: italic;">Use this QrCode to connect your mobile application with our servers.</p>
        </div>
    }
    <p style="color: red; font-style: italic;">Change your password and security question as soon as possible!</p>
    <button onclick="window.print();">Print</button>
</div>